<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="TechMart DemoBlaze Suite">
    <test name="UI Regression Test">
        <classes>
            <class name="com.praktikum.testing.otomation.test.demo.DemoBlazeFinalTest"/>
        </classes>
    </test>
</suite>